.landing-page {
	background-color: #181818;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.landing-page .div {
	background-color: #181818;
	width: 1440px;
	height: 1024px;
	position: relative;
}

.landing-page .image {
	position: absolute;
	width: 578px;
	height: 685px;
	top: 193px;
	left: 814px;
}

.landing-page .overlap {
	position: relative;
	height: 685px;
}

.landing-page .blur-effect {
	position: absolute;
	width: 578px;
	height: 685px;
	top: 0;
	left: 0;
}

.landing-page .overlap-group {
	border-radius: 150px;
	position: relative;
	height: 685px;
}

.landing-page .ellipse {
	width: 344px;
	height: 344px;
	top: 40px;
	left: 53px;
	background-color: #ff00ee;
	border-radius: 172px;
	position: absolute;
	opacity: 0.15;
}

.landing-page .ellipse-2 {
	width: 349px;
	height: 349px;
	top: 151px;
	left: 193px;
	background-color: #7200ff;
	border-radius: 174.5px;
	position: absolute;
	opacity: 0.15;
}

.landing-page .ellipse-3 {
	width: 185px;
	height: 185px;
	top: 433px;
	left: 212px;
	background-color: #ff00ee;
	border-radius: 92.5px;
	position: absolute;
	opacity: 0.15;
}

.landing-page .rectangle {
	position: absolute;
	width: 578px;
	height: 685px;
	top: 0;
	left: 0;
	background-color: #d9d9d900;
	border-radius: 150px;
	backdrop-filter: blur(20px) brightness(100%);
	-webkit-backdrop-filter: blur(20px) brightness(100%);
}

.landing-page .intersect {
	position: absolute;
	width: 459px;
	height: 459px;
	top: 89px;
	left: 83px;
}

.landing-page .introduction {
	position: absolute;
	width: 745px;
	height: 710px;
	top: 314px;
	left: 30px;
}

.landing-page .introduction-text {
	position: absolute;
	width: 665px;
	height: 354px;
	top: 0;
	left: 43px;
}

.landing-page .INTRO {
	width: 659px;
	top: 270px;
	font-family: "Krub-Regular", Helvetica;
	font-weight: 400;
	color: #aeaeae;
	font-size: 20px;
	line-height: 20.5px;
	position: absolute;
	left: 0;
	letter-spacing: 0;
}

.landing-page .INTRO-main {
	top: 164px;
	text-shadow: 4px 4px 4px #ffffff26;
	background: linear-gradient(132deg,
			rgba(255, 0, 238, 1) 0%,
			rgba(115, 0, 255, 1) 100%);
	-webkit-background-clip: text !important;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	font-family: "Krub-Bold", Helvetica;
	font-weight: 700;
	color: transparent;
	font-size: 80px;
	line-height: 82.1px;
	white-space: nowrap;
	position: absolute;
	left: 0;
	letter-spacing: 0;
}

.landing-page .text-wrapper {
	top: 0;
	text-shadow: 0px 4px 4px #00000040;
	font-family: "Krub-Bold", Helvetica;
	font-weight: 700;
	color: #ffffff;
	font-size: 80px;
	line-height: 82.1px;
	position: absolute;
	left: 0;
	letter-spacing: 0;
}

.landing-page .about-me-btn {
	width: 264px;
	height: 58px;
	top: 393px;
	left: 68px;
	border-radius: 100px;
	overflow: hidden;
	border: none;
	position: absolute;
}

.landing-page .about-me-btn::before {
	content: "";
	position: absolute;
	inset: 0;
	padding: 1px;
	border-radius: 100px;
	background: linear-gradient(90deg,
			rgba(255, 0, 238, 1) 0%,
			rgba(115, 0, 255, 1) 100%);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	z-index: 1;
	pointer-events: none;
}

.landing-page .text-wrapper-2 {
	position: absolute;
	width: 100px;
	top: 17px;
	left: 82px;
	text-shadow: 1px 1px 4px #ff00ee80;
	font-family: "Krub-Regular", Helvetica;
	font-weight: 400;
	color: #aeaeae;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 20.5px;
}

.landing-page .projects-btn {
	width: 264px;
	height: 58px;
	top: 393px;
	left: 360px;
	border-radius: 100px;
	overflow: hidden;
	border: none;
	position: absolute;
}

.landing-page .projects-btn::before {
	content: "";
	position: absolute;
	inset: 0;
	padding: 1px;
	border-radius: 100px;
	background: linear-gradient(27deg,
			rgba(255, 0, 238, 1) 0%,
			rgba(115, 0, 255, 1) 100%);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	z-index: 1;
	pointer-events: none;
}

.landing-page .text-wrapper-3 {
	position: absolute;
	width: 78px;
	top: 17px;
	left: 93px;
	text-shadow: 1px 1px 4px #7200ff80;
	font-family: "Krub-Regular", Helvetica;
	font-weight: 400;
	color: #aeaeae;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 20.5px;
}

.landing-page .top-bar {
	position: absolute;
	width: 1440px;
	height: 75px;
	top: 0;
	left: 0;
}

.landing-page .profile {
	position: absolute;
	width: 196px;
	height: 48px;
	top: 15px;
	left: 30px;
}

.landing-page .div-wrapper {
	position: absolute;
	width: 48px;
	height: 48px;
	top: 0;
	left: 0;
	border-radius: 24px;
	border: 2px solid;
	border-color: #aeaeae;
}

.landing-page .text-wrapper-4 {
	position: absolute;
	top: 11px;
	left: 15px;
	text-shadow: 0px 4px 4px #00000040;
	font-family: "Krub-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0;
	line-height: 20.5px;
	white-space: nowrap;
}

.landing-page .user-name {
	position: absolute;
	top: 14px;
	left: 66px;
	font-family: "Krub-Bold", Helvetica;
	font-weight: 400;
	color: #aeaeae;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 20.5px;
	white-space: nowrap;
}

.landing-page .span {
	font-weight: 700;
}

.landing-page .text-wrapper-5 {
	font-family: "Krub-Medium", Helvetica;
	font-weight: 500;
}

.landing-page .text-wrapper-6 {
	font-family: "Krub-Regular", Helvetica;
}

.landing-page .navigation {
	position: absolute;
	width: 270px;
	height: 21px;
	top: 31px;
	left: 584px;
}

.landing-page .text-wrapper-7 {
	top: 0;
	left: 173px;
	font-family: "Krub-Medium", Helvetica;
	font-weight: 500;
	color: #aeaeae;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0;
	line-height: 20.5px;
	white-space: nowrap;
	position: absolute;
}

.landing-page .text-wrapper-8 {
	top: 0;
	left: 75px;
	font-family: "Krub-Medium", Helvetica;
	font-weight: 500;
	color: #aeaeae;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0;
	line-height: 20.5px;
	white-space: nowrap;
	position: absolute;
}

.landing-page .text-wrapper-9 {
	position: absolute;
	top: 0;
	left: 0;
	font-family: "Krub-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0;
	line-height: 20.5px;
	white-space: nowrap;
}

.landing-page .icons {
	position: absolute;
	width: 172px;
	height: 25px;
	top: 27px;
	left: 1210px;
}

.landing-page .instagram-icon {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	left: 72px;
	object-fit: cover;
}

.landing-page .linkedin-icon {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	left: 147px;
	object-fit: cover;
}

.landing-page .github-icon {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	left: 0;
	object-fit: cover;
}